/* COLORS
Dark Blue: rgb(0, 38, 87)
Dark Purple: rgb(59, 15, 130)
Orange: rgb(250 132 22)
Yellow: rgb(242, 169, 0) */

:root {
  font-family: "Funnel Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-blue: 0 38 87;
  --primary-purple: 59 15 130;
  --primary-orange: 250 132 22;
  --primary-yellow: 242 194 0;
  --background-gradient: linear-gradient(135deg, rgba(var(--primary-orange) / 7%) 0%, rgba(var(--primary-yellow) / 1%) 50%, rgba(var(--primary-orange) / 7%) 100%);
  --grey: 47 47 47;

  background: var(--background-gradient);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(var(--primary-blue));
  text-decoration: inherit;
}
a:hover {
  color: rgb(var(--primary-purple));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
